#root {
  max-width: 1280px;
  margin: 0 auto;
}

html {
  background: url('./assets/pizza/stone-marble-wall-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
